@import './fonts.css';

*,
*::before,
*::after {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Old Standard TT CY', 'Old Standard TT LA';
  font-weight: normal;
}
